<section class="main-section">
    <h1 class="main-title">Главная</h1>
    <div class="flow-period">
        <a class="flow-period-common flow-period-today flow-period-active">Сегодня</a>
        <a class="flow-period-common flow-period-week">Неделя</a>
        <a class="flow-period-common flow-period-month">Месяц</a>
        <a class="flow-period-common flow-period-year">Год</a>
        <a class="flow-period-common flow-period-year">Все</a>
        <a class="flow-period-common flow-period-interval">Интервал</a>
        <div class="flow-period-select">
            <div class="flow-period-select-since-text">c</div>
            <div class="flow-period-select-since-data"><a>Дата</a></div>
            <div class="flow-period-select-to-text">по</div>
            <div class="flow-period-select-to-data"><a>Дата</a></div>
        </div>
    </div>
    <div class="plots">
        <div class="plot-income">
            <div>
                <canvas class="myChartIncome" id="myChartIncome"></canvas>
            </div>
        </div>
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="plot-expense">
            <div>
                <canvas class="myChartExpense" id="myChartExpense"></canvas>
            </div>
        </div>
    </div>

</section>