<section class="item-create-section">
  <h1 class="item-create-title">Создание дохода/расхода</h1>
  <div class="item-create-input-block">
    <input class="item-create-input" type="text" placeholder="Тип...">
    <input class="item-create-input" type="text" placeholder="Категория...">
    <input class="item-create-input" type="text" placeholder="Сумма в $...">
    <input class="item-create-input" type="text" placeholder="Дата...">
    <input class="item-create-input" type="text" placeholder="Комментарий...">
  </div>
  <div class="item-create-action">
    <a class="item-create-new">Создать</a>
    <a class="item-create-cancel">Отмена</a>
  </div>
</section>