.item-create-section {
  padding: 100px 60px;

  .item-create-title {
    color: #052C65;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
  }

  .item-create-input-block {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .item-create-input {
      width: 397px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid #CED4DA;
      box-sizing: border-box;

      color: #6C757D;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px; /* 160% */
      padding: 7px 16px;
      outline: none;


    }
  }



  .item-create-action {
    //margin-top: 10px;
    display: flex;
    column-gap: 10px;
    .item-create-new {
      cursor: pointer;
      text-decoration: none;
      padding: 12px 16px;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      border-radius: 5px;
      background: #198754;
      box-sizing: border-box;
      border: none;
    }

    .item-create-cancel {
      cursor: pointer;
      text-decoration: none;
      padding: 12px 16px;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      border-radius: 5px;
      background: #DC3545;
      box-sizing: border-box;
      border: none;
    }

  }


}