<section class="item-create-section">
  <h1 class="item-create-title">Редактирование дохода/расхода</h1>
  <div class="item-create-input-block">
    <!--        <input id="item-create-type" class="item-create-input" type="text" placeholder="Тип...">-->
    <!--        <selsect id="item-create-type" class="item-create-input" type="text" placeholder="Тип...">-->
    <select id="item-create-type" class="item-create-input" name="type">
      <option value="">-- Выберите тип --</option>
      <option name="type" value="income">Доход</option>
      <option name="type" value="expense">Расход</option>
    </select>
    <select id="item-create-category" class="item-create-input" name="type">
      <option id="category-choice-text" value="common">-- Выберите категорию --</option>
    </select>
    <input id="item-create-amount" class="item-create-input" type="number" placeholder="Сумма в $...">
    <input id="item-create-date" class="item-create-input" type="date" placeholder="Дата...">
    <input id="item-create-comment" class="item-create-input" type="text" placeholder="Комментарий...">
  </div>
  <div class="item-create-action">
    <a id="item-create-new-btn" class="item-create-new">Создать</a>
    <a href="/incomes-expenses" class="item-create-cancel">Отмена</a>
  </div>
</section>